.landing {
    position: relative;
}
.landing .landing-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.landing .landing-video .landing-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.landing .landing-video .landing-video_overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.landing .landing-description {
    height: 78.7vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
    animation: scaleUp 1s ease-in forwards;
}

.landing .landing-description .landing-header {
    font-size: 5rem;
    text-transform: uppercase;
}

.landing .landing-description .landing-paragraph {
    font-size: 2rem;
    text-align: center;
}

.landing .landing-description .landing-paragraph,
.landing .landing-description .landing-header,
.landing .landing_down-arrow {
    color: var(--color-light-1);
}

.landing  .landing_down-arrow {
    padding-bottom: 2rem;
    font-size: 5rem; 
    text-align: center;
    animation: bounce 1s infinite linear;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1rem);
    }

    100% {
        transform: translateY(0);
    }
}


#homepage-about .homepage-about_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hompage_about-us {
    padding-bottom: 0;
}

#homepage-about .homepage-about_wrapper .homepage-about_header,
.us .us-wrapper .us_header {
    font-size: 4rem;
    color: var(--color-light-2);
    text-transform: uppercase;
}

.card-what-we-do {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10rem;
    overflow-x: hidden;
}

.card-what-we-do .card-what-we-do-wrapper {
    width: 30%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: scale(0);
}

.card-what-we-do .card-what-we-do-wrapper:nth-child(1) {
    animation: cascade 1s cubic-bezier(1,.12,.63,.83) forwards;
}
.card-what-we-do .card-what-we-do-wrapper:nth-child(2) {
    animation: cascade 1s cubic-bezier(1,.12,.63,.83) .3s forwards;
}
.card-what-we-do .card-what-we-do-wrapper:nth-child(3) {
    animation: cascade 1s cubic-bezier(1,.12,.63,.83) .6s forwards;
}

.card-what-we-do .card-what-we-do-wrapper .card-what-we-do-content {
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-what-we-do .card-what-we-do-wrapper .card-what-we-do-content .card-what-we-do-image_container .card-what-we-do-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.card-what-we-do .card-what-we-do-wrapper .card-what-we-do-content .card-what-we-do-title {
    text-align: center;
    font-size: 2rem;
}

.card-what-we-do .card-what-we-do-wrapper .card-what-we-do-content .card-what-we-do-descrption {
    padding: 1rem;
    font-size: 1.4rem;
    text-align: justify;
}

.parallax {
    background-image: url(../../img/parallax.jpg);
    height: 35rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: cover;
}

.orverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(150, 150, 150, .45);
}

.us {
    padding-bottom: 2rem;
}

.us .us-wrapper .us_header {
    text-align: center;
}

.us .us-wrapper .us_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
    animation: scaleUp 1s ease-in forwards;
}

.us .us-wrapper .us_content .us_text {
    width: 50%;
    font-size: 1.5rem;
    text-align: justify;
}

.us .us-wrapper .us_content img {
    width: 10%;
    height: 10%;
    border-radius: 40px;
}

@keyframes cascade {
    0% {
        transform: scale(0) translateX(50rem);
    }

    100% {
        transform: scale(1) translateX(0);
    }
}